# Glossary

{% for letter, item_list in groups.items() %}
## – {{ letter.upper() }} –
{% for item in item_list %}
### {{ item.prefLabel }}
> {{ item.definition }}

{% for ref in item.closeMatch %}{% if loop.index == 1 %}See: {% else %}, {% endif %}<{{ ref.id }}>{% endfor %}
{% endfor %}{% endfor %}
